.box1,
.box2,
.box3 {
  width: 11vw;
  height: 30vh;
  border: 3px dashed lightgray;
  border-radius: 10px;
}

.box1:hover,
.box2:hover,
.box3:hover {
  border: 3px dashed #00ace6;
  cursor: pointer;
}

.warmup1game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 4vw;
}

.box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50vw;
}

.jmn > p {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
}

.jmn > ul > li {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
}

.images > img {
  width: 20%;
  cursor: grab;
}

.images {
  margin-top: 4vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
