.warmup {
  display: flex;
}

.warmup1 {
  display: flex;
  flex-direction: column;
  flex: 0.14;
  background: black;
  height: 150vh;
}

.warmup2 {
  display: flex;
  flex-direction: column;
  flex: 0.57;
}

.warmup3 {
  display: flex;
  flex-direction: column;
  flex: 0.29;
  border-left: 1px solid lightgray;
}

.warmup1 > p {
  color: #a9a9a9;
  font-family: "Montserrat", sans-serif;
}

.warmup1txt {
  margin-left: 4vw;
  margin-top: 5vh;
  font-size: 14px;
  color: #8a8a8a;
}

.warmup2txt {
  margin-left: 4vw;
  font-size: 16px;
  color: #a9a9a9;
  font-weight: 600;
}

.d1 {
  height: 2vh;
  width: 3vw;

  margin-left: 1px;
}

.d2 {
  height: 2vh;
  width: 3vw;

  margin-left: 1px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.warmuptxt31 {
  font-family: "Montserrat", sans-serif;
  font-size: x-small;
}

.warmuptxt32 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

.warmup3p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.kl {
  margin-top: 5vh;
}

.MuiSvgIcon-root {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
  color: lightgrey;
}

.sli:hover {
  height: 4vh;
}
