.imgh {
  width: 70%;
  margin-left: 7vw;
  margin-top: 5vh;
}

.warmup2rt {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 800;
  margin-top: 6vh;
}

.warmup2game {
  margin-left: 3vw;
  margin-right: 3vw;
  margin-top: 4vh;
}
